<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><strong>MySpring</strong></li>
    </ul>
    <ul>
        <li><a href="/static">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup" role="button">Sign Up</a></li>
    </ul>
</nav>

<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2>Sign Up</h2>
                <h3>Create your account</h3>
            </hgroup>
            <form action="/signup" method="post">
                <label for="userId">User ID:</label>
                <input type="text" id="userId" name="userId" placeholder="Enter your user ID" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>

                <label for="name">Name:</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>

                <label for="phoneNumber">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" placeholder="Enter your email" required>

                <button type="submit">Sign Up</button>
            </form>
        </section>
    </div>
</main>

<footer class="container">
    <small>
        <a href="#">Privacy Policy</a> • <a href="#">Terms of Service</a>
    </small>
</footer>
</body>
</html>
