<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>행복주택 상세 정보</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1vq6oly1eb"></script>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><strong>행복주택</strong></li>
    </ul>
    <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/list">리스트</a></li>
        <li><a href="#" role="button">문의하기</a></li>
    </ul>
</nav>
<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2 th:text="${house.name}">주택 이름</h2>
            </hgroup>
            <div id="map" style="width:50%;height:300px;"></div>
            <p th:text="'주소: ' + ${house.address}">주소</p>
            <p th:text="'상태: ' + ${house.status}">상태</p>
            <p th:text="'신청 기간: ' + ${house.applyStartDate} + '~' + ${house.applyEndDate}">신청 기간</p>
            <p th:text="'거주일: ' + ${house.moveInDate}">거주일</p>

            <ul th:each="houseDetail :${house.houseDetails}">
                <img th:src="${houseDetail.imageUrl}" alt="">
                <li th:text="'유형: ' + ${houseDetail.type}">유형</li>
                <li th:text="'크기: ' + ${houseDetail.type}">크기</li>
                <li th:text="'공급 수: ' + ${houseDetail.type}">공급 수</li>
            </ul>
            <!--
            <p th:text="'공모가: ' + ${house.price}">가격</p>
            <p th:text="'공모신청 날짜: ' + ${house.submissionDate}">공모신청 날짜</p>
            <p th:text="'입주 날짜: ' + ${house.movingDate}">입주 날짜</p>
            <h3>기타 정보</h3>
            <p th:utext="${house.description}">상세 설명</p>!-->
        </section>
    </div>
</main>
<footer class="container">
    <small><a href="/terms">이용약관</a> • <a href="/privacy">개인정보처리방침</a></small>
</footer>
</body>
<script th:inline="javascript">

    let latitude = [[${house.latitude}]]
    let longitude = [[${house.longitude}]]

    let map = new naver.maps.Map(document.getElementById('map'));
    let location = new naver.maps.LatLng(latitude, longitude);

    map.setCenter(location); // 중심 좌표 이동
    map.setZoom(13);     // 줌 레벨 변경


</script>
</html>
