<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>행복주택 상세 정보</title>
    <link href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1vq6oly1eb"></script>
</head>
<body>
<nav class="container-fluid">
    <ul>
        <li><strong>행복주택</strong></li>
    </ul>
    <ul>
        <li><a href="/">홈</a></li>
        <li><a href="/list">리스트</a></li>
        <li><a href="#" role="button">문의하기</a></li>
    </ul>
</nav>
<main class="container">
    <div class="grid">
        <section>
            <hgroup>
                <h2 th:text="${house.name}">주택 이름</h2>
            </hgroup>
            <div id="map" style="width:50%;height:300px;"></div>
            <br>
            <p th:text="'주소: ' + ${house.address}">주소</p>
            <p th:text="'상태: ' + ${house.status}">상태</p>
            <p th:text="'신청 기간: ' + ${house.applyStartDate} + '~' + ${house.applyEndDate}">신청 기간</p>
            <p th:text="'입주예정월: ' + ${house.moveInDate}">입주예정월</p>

            <ul th:each="houseDetail :${house.houseDetails}">
                <img th:src="${houseDetail.imageUrl}" alt="">
                <li th:text="'유형: ' + ${houseDetail.type}">유형</li>
                <li th:text="'크기: ' + ${houseDetail.size}">크기</li>
                <li th:text="'공급 수: ' + ${houseDetail.supplyCount}">공급 수</li>
                <li th:text="'보증금: ' + ${houseDetail.deposit}">보증금</li>
                <li th:text="'월세: ' + ${houseDetail.monthlyRent}">월세</li>
            </ul>
        </section>
    </div>
</main>
<footer class="container">
    <small><a href="/terms">이용약관</a> • <a href="/privacy">개인정보처리방침</a></small>
</footer>
</body>
<script th:inline="javascript">

    let latitude = [[${house.latitude}]]
    let longitude = [[${house.longitude}]]
    let latAndLng = new naver.maps.LatLng(latitude, longitude);

    let map = new naver.maps.Map(document.getElementById('map'),{
        center: latAndLng,
        zoom: 16
    });

    let marker = new naver.maps.Marker({
        position: latAndLng,
        map: map
    })
</script>
</html>
