<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/static/style.css" rel="stylesheet">
    <script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1vq6oly1eb"></script>
    <title>MyHome | MapView</title>
</head>

<body>
    <div th:insert="fragments/nav"></div>
    <div class="sb-section option-align-center next-nav-bar">
        <div class="sb-section-alignable sb-row">
            <label for="addressInput"></label>
            <input type="text" class="border-radius" id="addressInput" placeholder="도로명 주소를 입력하세요." style="width: 60%">
            <button class="border-radius" onclick="getAddress()">검색하기</button>
        </div>
    </div>
    <div class="sb-row-opt-padding-top-large sb-row-opt-padding-bottom-large sb-section option-align-center option-display-block">
        <section>
            <div class="sb-section-alignable" id="map" style="width:70%;height:80%;"></div>
        </section>
    </div>
    <div th:insert="fragments/footer"></div>
</body>

<script>


    let map = new naver.maps.Map(document.getElementById('map'),{
        zoom: 16
    });

    let scrollTimeout;

    // 스크롤 끝났을 때 함수 실행
    function handleScrollEnd() {
        // 일정 시간 동안 추가 스크롤이 없을 때만 함수를 실행
        clearTimeout(scrollTimeout);
        scrollTimeout = setTimeout(() => {
            getHousesLocation();
        }, 500); // 500ms 대기 후 실행
    }

    map.addListener('dragend', function (){ getHousesLocation();})
    map.addListener('mousewheel', function (){ handleScrollEnd();})

    function getHousesLocation(){
        let url = window.location.href;
        fetch(url, {
            method: 'POST',
            headers:{
                'Content-Type': 'application/json'
            }})
            .then(response => response.json())
            .then(json => {json.forEach(location => {makeMarker(location)});
            });
    }

    function makeMarker(location){
        let latAndLng = new naver.maps.LatLng(location[0], location[1]);
        new naver.maps.Marker({
            position: latAndLng,
            map: map
        });
    }
</script>
</html>